@media(max-width: 1280px) {

    .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes .logo {
        max-width: 450px;

    }

    .informacoes .descricao {
        width: 60%;
        text-align: center;
        line-height: 30px;
    }

    #titulo {
        font-size: 30px;
        margin-bottom: 10px;
        visibility: visible;
    }
}

@media(max-width: 768px) {
    .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes .logo {
        max-width: 450px;

    }

    .informacoes .descricao {
        width: 60%;
        text-align: center;
        line-height: 30px;
    }

    #titulo {
        font-size: 30px;
        margin-bottom: 10px;
        visibility: visible;
    }
}

@media(max-width: 425px) {

    main:after {
        background: none;
    }

    .informacoes .logo {
        max-width: 250px;
        margin-bottom: 0;
    }

    .informacoes .descricao {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        line-height: 30px;
    }

    .menu-lateral {
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .menu-lateral ul {
        flex-direction: row;
    }

    .conteudo {
        min-height: 70vh;
        gap: 50px;
    }

    body {
        padding: 40px;
    }

    #titulo {
        font-size: 15px;
        font-weight: bold;
        visibility: visible;
        margin-bottom: 10px;
    }
}